---
const path = Astro.url.pathname;
---

<nav class="top-0 w-full fixed md:relative z-10 md:px-6 md:max-w-screen-xl md:mx-auto">
  <div class="main-header hidden md:block px-12 py-4">
    {path !== "/" && (
      <div class="max-w-[150px]">
        <a href="/">
          <svg width="100%" height="100%" viewBox="0 0 1308 346" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
            <g transform="matrix(1,0,0,1,-27629,-973)">
              <g transform="matrix(1,0,0,1,23696.5,669)">
                <g id="Wordmark" transform="matrix(-4.90682,-2.2519e-15,6.02109e-15,-13.1198,8862.47,1737.31)">
                  <g id="Space" transform="matrix(-0.087448,-4.0053e-18,3.13359e-17,-0.0956986,918.267,79.379)">
                    <g transform="matrix(1,7.39557e-32,-1.97215e-31,1,43.1208,-160.29)">
                      <path d="M317.742,-1.732C233.628,-1.732 172.822,13.681 172.822,38.098C172.822,82.777 365.373,67.538 365.373,85.028C365.373,90.57 345.612,94.38 320.276,94.38C289.366,94.38 268.084,88.492 268.084,80.352L164.208,80.352C165.728,106.675 228.054,122.953 315.209,122.953C405.404,122.953 470.77,108.233 470.77,83.47C470.77,38.098 278.219,54.376 278.219,35.847C278.219,30.479 294.434,26.842 315.209,26.842C341.558,26.842 359.293,32.73 359.293,40.869L459.622,40.869C459.622,15.932 398.817,-1.732 317.742,-1.732Z" style="fill-rule:nonzero;"/>
                    </g>
                    <g transform="matrix(1,6.77927e-32,-1.97215e-31,1,49.2474,-160.29)">
                      <path d="M686.63,0L514.854,0L514.854,121.221L618.224,121.221L618.224,85.721L686.63,85.721C761.117,85.721 815.336,67.711 815.336,42.947C815.336,18.01 761.117,0 686.63,0ZM674.976,55.935L618.224,55.935L618.224,31.171L674.976,31.171C695.244,31.171 709.939,36.366 709.939,43.467C709.939,50.22 695.244,55.935 674.976,55.935Z" style="fill-rule:nonzero;"/>
                    </g>
                    <g transform="matrix(1,4.93038e-32,-1.97215e-31,1,43.5904,-160.29)">
                      <path d="M1056.03,121.221L1167.5,121.221L1042.34,0L916.678,0L791.52,121.221L902.997,121.221L920.732,100.96L1038.29,100.96L1056.03,121.221ZM941.001,77.928L979.511,34.462L1018.02,77.928L941.001,77.928Z" style="fill-rule:nonzero;"/>
                    </g>
                    <g transform="matrix(1,4.93038e-32,-1.97215e-31,1,28.5152,-160.29)">
                      <path d="M1535.88,70.308L1429.98,70.308C1420.35,82.084 1390.96,90.57 1351.44,90.57C1303.3,90.57 1269.35,77.928 1269.35,60.438C1269.35,43.12 1303.3,30.652 1351.44,30.652C1391.47,30.652 1420.86,39.137 1429.98,50.913L1535.88,50.913C1524.74,19.742 1450.25,-1.732 1351.44,-1.732C1242.5,-1.732 1163.95,24.417 1163.95,60.611C1163.95,96.804 1242.5,122.953 1351.44,122.953C1450.25,122.953 1524.74,101.306 1535.88,70.308Z" style="fill-rule:nonzero;"/>
                    </g>
                    <g transform="matrix(1,3.08149e-32,-1.97215e-31,1,28.0405,-160.29)">
                      <path d="M1838.39,31.171L1838.39,0L1579.97,0L1579.97,121.221L1838.39,121.221L1838.39,90.05L1683.34,90.05L1683.34,75.33L1828.26,75.33L1828.26,45.545L1683.34,45.545L1683.34,31.171L1838.39,31.171Z" style="fill-rule:nonzero;"/>
                    </g>
                  </g>
                  <g id="Gamma" transform="matrix(-0.1026,-4.6993e-18,1.2736e-17,-0.0388954,923.292,93.743)">
                    <g transform="matrix(1,1.47911e-31,0,1,23.2576,-394.379)">
                      <path d="M339.882,127.397L183.541,127.397L183.541,191.735L243.573,191.735C234.503,212.613 211.182,226.674 183.541,226.674C142.513,226.674 113.145,193.866 113.145,148.701C113.145,103.537 142.513,70.729 183.541,70.729C210.75,70.729 231.48,85.216 242.709,106.946L334.7,106.946C321.312,42.608 257.825,-4.261 183.109,-4.261C90.255,-4.261 23.313,60.077 23.313,149.127C23.313,238.178 90.255,302.515 183.109,302.515C275.964,302.515 340.746,238.604 340.746,149.127C340.746,141.884 340.314,132.936 339.882,127.397Z" style="fill-rule:nonzero;"/>
                    </g>
                    <g transform="matrix(1,2.46519e-31,0,1,2.72787,-394.379)">
                      <path d="M582.168,298.255L677.182,298.255L570.507,-0L463.401,-0L356.726,298.255L451.74,298.255L466.856,248.404L567.052,248.404L582.168,298.255ZM484.131,191.735L516.954,84.79L549.777,191.735L484.131,191.735Z" style="fill-rule:nonzero;"/>
                    </g>
                    <g transform="matrix(1,2.46519e-31,0,1,-17.8019,-394.379)">
                      <path d="M948.404,-0L898.737,178.527L849.071,-0L721.666,-0L721.666,298.255L809.77,298.255L809.77,112.059L861.595,298.255L935.879,298.255L987.705,112.059L987.705,298.255L1075.81,298.255L1075.81,-0L948.404,-0Z" style="fill-rule:nonzero;"/>
                    </g>
                    <g transform="matrix(1,2.46519e-31,0,1,-40.485,-394.379)">
                      <path d="M1369.06,-0L1319.39,178.527L1269.72,-0L1142.32,-0L1142.32,298.255L1230.42,298.255L1230.42,112.059L1282.25,298.255L1356.53,298.255L1408.36,112.059L1408.36,298.255L1496.46,298.255L1496.46,-0L1369.06,-0Z" style="fill-rule:nonzero;"/>
                    </g>
                    <g transform="matrix(1,4.93038e-32,-9.86076e-32,1,-50.0327,-394.379)">
                      <path d="M1757.75,298.255L1852.76,298.255L1746.09,-0L1638.98,-0L1532.31,298.255L1627.32,298.255L1642.44,248.404L1742.63,248.404L1757.75,298.255ZM1659.71,191.735L1692.54,84.79L1725.36,191.735L1659.71,191.735Z" style="fill-rule:nonzero;"/>
                    </g>
                  </g>
                </g>
                <g id="Gamma-Burst" transform="matrix(2.82898,8.22382e-16,-8.22382e-16,2.82898,-7522.1,-612.312)">
                  <path d="M4093.53,323.902L4144.06,323.902L4186.98,445.994L4049.02,445.994L4093.53,323.902ZM4111.81,382.879L4100.54,413.788L4135.47,413.788L4124.6,382.879L4111.81,382.879Z" style="fill:none;"/>
                  <clipPath id="_clip1">
                    <path d="M4093.53,323.902L4144.06,323.902L4186.98,445.994L4049.02,445.994L4093.53,323.902ZM4111.81,382.879L4100.54,413.788L4135.47,413.788L4124.6,382.879L4111.81,382.879Z"/>
                  </clipPath>
                  <g clip-path="url(#_clip1)">
                    <g id="Gamma-Burst-Icon" transform="matrix(1.7072,9.86076e-32,-9.86076e-32,1.7072,3980.82,252.16)">
                      <path d="M79.384,80.098L57.417,0.013L74.839,0.013L79.515,80.076L79.384,80.098Z" style="fill-rule:nonzero;"/>
                      <path d="M81.209,76.853C81.166,76.853 81.125,76.837 81.088,76.802C81.047,76.764 81.008,76.698 80.977,76.604C80.87,76.288 80.821,75.615 80.825,74.638C80.881,62.21 89.356,0.071 89.356,0.071L89.364,0.013L102.999,0.013L102.977,0.096C102.977,0.096 90.525,49.191 84.393,68.829C83.319,72.269 82.438,74.807 81.851,76.02C81.671,76.394 81.516,76.644 81.393,76.761C81.325,76.825 81.262,76.853 81.209,76.853Z" style="fill-rule:nonzero;"/>
                      <path d="M82.901,81.14L110.363,0.059L110.484,0.045L119.152,14.178L83.023,81.193L82.901,81.14Z" style="fill-rule:nonzero;"/>
                      <path d="M84.267,81.032C84.256,80.999 84.254,80.949 84.267,80.883C84.284,80.805 84.322,80.697 84.381,80.561C84.759,79.691 86.028,77.633 87.881,74.807C97.128,60.702 120.934,27.43 120.934,27.43L121.052,27.447L124.284,36.823L124.259,36.852C124.259,36.852 92.388,73.921 85.622,80.2C85.088,80.696 84.706,81.001 84.507,81.086C84.371,81.145 84.293,81.108 84.267,81.032Z" style="fill-rule:nonzero;"/>
                      <path d="M76.83,79.462C76.812,79.512 76.783,79.541 76.749,79.553C76.707,79.569 76.647,79.561 76.575,79.509C76.391,79.376 76.06,78.911 75.609,78.161C69.897,68.664 44.188,12.949 44.188,12.949L44.176,12.923L49.346,0.285L49.471,0.287C49.471,0.287 67.481,49.486 74.285,70.323C75.476,73.971 76.324,76.751 76.672,78.245C76.778,78.699 76.837,79.035 76.848,79.243C76.853,79.343 76.846,79.416 76.83,79.462Z" style="fill-rule:nonzero;"/>
                      <path d="M73.856,88.405L12.366,103.924L12.287,103.838L16.531,91.095L73.837,88.273L73.856,88.405Z" style="fill-rule:nonzero;"/>
                      <path d="M85.173,83.183L123.856,44.628L130.912,55.541L85.255,83.287L85.173,83.183Z" style="fill-rule:nonzero;"/>
                      <path d="M75.121,81.947C75.081,82.038 74.996,82.076 74.86,82.043C74.637,81.987 74.234,81.703 73.682,81.216C66.747,75.095 35.458,36.864 35.458,36.864L35.431,36.832L41.026,24.237L41.143,24.228C41.143,24.228 63.482,59.791 71.942,75.088C73.425,77.768 74.481,79.827 74.918,80.965C75.032,81.263 75.104,81.499 75.132,81.668C75.153,81.795 75.147,81.889 75.121,81.947Z" style="fill-rule:nonzero;"/>
                      <path d="M73.063,86.702C73.051,86.736 73.022,86.771 72.97,86.802C72.914,86.835 72.827,86.866 72.709,86.894C71.978,87.064 69.995,87.127 67.2,87.111C53.259,87.033 19.036,85.025 19.036,85.025L18.948,85.02L21.935,76.393L21.991,76.403C21.991,76.403 63.721,83.529 71.71,85.986C72.342,86.181 72.765,86.348 72.946,86.479C73.003,86.521 73.039,86.562 73.056,86.598C73.073,86.634 73.074,86.669 73.063,86.702Z" style="fill-rule:nonzero;"/>
                      <path d="M74.423,89.608L4.523,128.974L4.427,128.892L10.658,112.281L74.367,89.487L74.423,89.608Z" style="fill-rule:nonzero;"/>
                      <path d="M74.073,85.262C74.062,85.293 74.041,85.321 74.006,85.343C73.97,85.367 73.915,85.385 73.842,85.394C73.603,85.426 73.134,85.372 72.472,85.243C64.09,83.605 24.098,69.873 24.098,69.873L24.035,69.851L27.242,60.596L27.309,60.629C27.309,60.629 57.556,75.37 69.385,82.045C71.46,83.215 72.969,84.139 73.651,84.692C73.866,84.866 74.001,85.006 74.052,85.107C74.084,85.169 74.087,85.221 74.073,85.262Z" style="fill-rule:nonzero;"/>
                      <path d="M74.635,84.007L28.817,55.557L33.253,44.535L74.716,83.902L74.635,84.007Z" style="fill-rule:nonzero;"/>
                      <path d="M85.427,90.061C85.411,90.015 85.416,89.975 85.435,89.943C85.457,89.905 85.506,89.871 85.588,89.857C85.807,89.819 86.332,89.902 87.115,90.094C97.007,92.527 148.994,112.265 148.994,112.265L149.023,112.276L153.195,124.769L153.102,124.851C153.102,124.851 110.254,103.939 92.759,94.511C89.695,92.859 87.408,91.56 86.264,90.786C85.916,90.551 85.672,90.363 85.543,90.228C85.479,90.161 85.441,90.105 85.427,90.061Z" style="fill-rule:nonzero;"/>
                      <path d="M85.099,85.071L131.821,60.963L134.833,71.103L85.148,85.194L85.099,85.071Z" style="fill-rule:nonzero;"/>
                      <g transform="matrix(1.04428,0,0,0.927006,-3.50268,6.65128)">
                        <path d="M76.8,93.998C76.896,93.998 76.981,94.045 77.054,94.142C77.118,94.227 77.173,94.352 77.219,94.515C77.417,95.23 77.435,96.727 77.318,98.756C76.652,110.281 71.675,139.094 71.675,139.094L71.665,139.152L55.993,139.152L56.034,139.05C56.034,139.05 67.634,110.239 73.598,98.715C74.645,96.691 75.52,95.2 76.128,94.487C76.289,94.298 76.433,94.162 76.556,94.084C76.647,94.026 76.729,93.998 76.8,93.998Z" style="fill-rule:nonzero;"/>
                      </g>
                      <g transform="matrix(1.04428,0,0,0.927006,-3.50268,6.65128)">
                        <path d="M72.263,92.364L27.161,139.153L10.988,138.314L10.955,138.182L72.185,92.251L72.263,92.364Z" style="fill-rule:nonzero;"/>
                      </g>
                      <g transform="matrix(1.04428,0,0,0.927006,-3.50268,6.65128)">
                        <path d="M75.024,93.239L48.551,139.152L31.369,139.152L31.326,139.027L74.926,93.147L75.024,93.239Z" style="fill-rule:nonzero;"/>
                      </g>
                      <g transform="matrix(1.04428,0,0,0.927006,-3.50268,6.65128)">
                        <path d="M80.52,93.936L95.012,139.305L77.407,139.152L80.396,93.955L80.52,93.936Z" style="fill-rule:nonzero;"/>
                      </g>
                      <path d="M85.934,88.323L142.371,91.565L145.884,103.648L145.803,103.731L85.913,88.455L85.934,88.323Z" style="fill-rule:nonzero;"/>
                      <g transform="matrix(1.04428,0,0,0.927006,-3.50268,6.65128)">
                        <path d="M83.883,95.071L119.881,139.184L119.834,139.304L98.609,139.304L83.776,95.146L83.883,95.071Z" style="fill-rule:nonzero;"/>
                      </g>
                      <path d="M87.744,86.692C87.733,86.66 87.734,86.625 87.75,86.589C87.767,86.553 87.801,86.512 87.856,86.47C88.03,86.336 88.438,86.163 89.046,85.959C96.741,83.382 136.967,75.584 136.967,75.584L137.024,75.573L139.951,84.08L139.865,84.087C139.865,84.087 106.856,86.676 93.407,86.997C90.709,87.061 88.796,87.034 88.089,86.877C87.975,86.852 87.89,86.822 87.835,86.791C87.784,86.761 87.756,86.726 87.744,86.692Z" style="fill-rule:nonzero;"/>
                      <g transform="matrix(1.04428,0,0,0.927006,-3.50268,6.65128)">
                        <path d="M83.436,91.219L152.065,139.019L152.031,139.152L126.055,139.152L83.357,91.331L83.436,91.219Z" style="fill-rule:nonzero;"/>
                      </g>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </a>
      </div>
    )}
  </div>
</nav>
